# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
#            Configs for Custom Palettes          ┃
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

[palettes.catppuccin_frappe]
  rosewater = "#f2d5cf"
  flamingo = "#eebebe"
  pink = "#f4b8e4"
  mauve = "#ca9ee6"
  red = "#e78284"
  maroon = "#ea999c"
  peach = "#ef9f76"
  yellow = "#e5c890"
  green = "#a6d189"
  teal = "#81c8be"
  sky = "#99d1db"
  sapphire = "#85c1dc"
  blue = "#8caaee"
  lavender = "#babbf1"
  text = "#c6d0f5"
  subtext1 = "#b5bfe2"
  subtext0 = "#a5adce"
  overlay2 = "#949cbb"
  overlay1 = "#838ba7"
  overlay0 = "#737994"
  surface2 = "#626880"
  surface1 = "#51576d"
  surface0 = "#414559"
  base = "#303446"
  mantle = "#292c3c"
  crust = "#232634"

[palettes.catppuccin_latte]
  rosewater = "#dc8a78"
  flamingo = "#dd7878"
  pink = "#ea76cb"
  mauve = "#8839ef"
  red = "#d20f39"
  maroon = "#e64553"
  peach = "#fe640b"
  yellow = "#df8e1d"
  green = "#40a02b"
  teal = "#179299"
  sky = "#04a5e5"
  sapphire = "#209fb5"
  blue = "#1e66f5"
  lavender = "#7287fd"
  text = "#4c4f69"
  subtext1 = "#5c5f77"
  subtext0 = "#6c6f85"
  overlay2 = "#7c7f93"
  overlay1 = "#8c8fa1"
  overlay0 = "#9ca0b0"
  surface2 = "#acb0be"
  surface1 = "#bcc0cc"
  surface0 = "#ccd0da"
  base = "#eff1f5"
  mantle = "#e6e9ef"
  crust = "#dce0e8"

[palettes.catppuccin_macchiato]
  rosewater = "#f4dbd6"
  flamingo = "#f0c6c6"
  pink = "#f5bde6"
  mauve = "#c6a0f6"
  red = "#ed8796"
  maroon = "#ee99a0"
  peach = "#f5a97f"
  yellow = "#eed49f"
  green = "#a6da95"
  teal = "#8bd5ca"
  sky = "#91d7e3"
  sapphire = "#7dc4e4"
  blue = "#8aadf4"
  lavender = "#b7bdf8"
  text = "#cad3f5"
  subtext1 = "#b8c0e0"
  subtext0 = "#a5adcb"
  overlay2 = "#939ab7"
  overlay1 = "#8087a2"
  overlay0 = "#6e738d"
  surface2 = "#5b6078"
  surface1 = "#494d64"
  surface0 = "#363a4f"
  base = "#24273a"
  mantle = "#1e2030"
  crust = "#181926"

[palettes.catppuccin_mocha]
  rosewater = "#f5e0dc"
  flamingo = "#f2cdcd"
  pink = "#f5c2e7"
  mauve = "#cba6f7"
  red = "#f38ba8"
  maroon = "#eba0ac"
  peach = "#fab387"
  yellow = "#f9e2af"
  green = "#a6e3a1"
  teal = "#94e2d5"
  sky = "#89dceb"
  sapphire = "#74c7ec"
  blue = "#89b4fa"
  lavender = "#b4befe"
  text = "#cdd6f4"
  subtext1 = "#bac2de"
  subtext0 = "#a6adc8"
  overlay2 = "#9399b2"
  overlay1 = "#7f849c"
  overlay0 = "#6c7086"
  surface2 = "#585b70"
  surface1 = "#45475a"
  surface0 = "#313244"
  base = "#1e1e2e"
  mantle = "#181825"
  crust = "#11111b"

[palettes.catppuccin_mocha_v2]
  foreground = '#D9E0EE'
  background = '#1E1E2E'
  current_line = '#2E2E3E'
  primary = '#313244'
  box = '#2E2E3E'
  blue = '#8AADF4'
  cyan = '#76E3F6'
  green = '#A6E3A1'
  orange = '#F9AF74'
  pink = '#F5BDE6'
  purple = '#CBA6F7'
  red = '#F38BA8'
  yellow = '#F9E2AF'
  status = "#e23140"

[palettes.tokyo_night]
  foreground = '#D8D8D8'
  background = '#1A1B26'
  current_line = '#2A2C37'
  primary = '#292E42'
  box = '#2A2C37'
  blue = '#7AA2F7'
  cyan = '#7FDBCA'
  green = '#98C379'
  orange = '#FF9E64'
  pink = '#FF75A0'
  purple = '#BB80B3'
  red = '#F7768E'
  yellow = '#E5C07B'
  status = "#e23140"

[palettes.gruvbox_dark]
  color_ok = '#b8bb26'
  color_danger = '#fb4934'
  color_caution = '#d79921'
  color_os = '#d65d0e'
  color_username = '#d65d0e'
  color_directory = '#d79921'
  color_git = '#689d6a'
  color_git_added = '#b8bb26'
  color_git_deleted = '#fb4934'
  color_env = '#458588'
  color_kubernetes = '#b16286'
  color_docker = '#458588'
  color_shell = '#a89984'
  color_container = '#cc241d'
  color_other = '#d5c4a1'
  color_time = '#fbf1c7'
  color_duration = '#fbf1c7'
  color_vimcmd_ok = '#8ec07c'
  color_vimcmd_replace = '#b16286'
  color_vimcmd_visual = '#d79921'

[palettes.gruvbox_light]
  color_ok = '#79740e'
  color_danger = '#9d0006'
  color_caution = '#d79921'
  color_os = '#d65d0e'
  color_username = '#d65d0e'
  color_directory = '#d79921'
  color_git = '#689d6a'
  color_git_added = '#79740e'
  color_git_deleted = '#9d0006'
  color_env = '#458588'
  color_kubernetes = '#b16286'
  color_docker = '#458588'
  color_shell = '#7c6f64'
  color_container = '#cc241d'
  color_other = '#504945'
  color_time = '#282828'
  color_duration = '#282828'
  color_vimcmd_ok = '#689d6a'
  color_vimcmd_replace = '#b16286'
  color_vimcmd_visual = '#d79921'