format = """
$directory$git_branch$git_state$git_status$git_metrics$fill\
$cmd_duration$status$jobs\
$line_break$character"""

# Inserts blank line between shell prompts.
add_newline = false

palette = 'default'

[palettes.default]

color_ok = 'bright-green'
color_danger = 'bright-red'
color_caution = 'bright-yellow'

color_os = 'red'
color_username = 'red'
color_directory = 'yellow'
color_git = 'cyan'
color_git_added = 'bright-green'
color_git_deleted = 'bright-red'
color_env = 'blue'
color_kubernetes = 'purple'
color_docker = 'blue'
color_shell = ''
color_container = ''
color_other = ''
color_time = ''
color_duration = ''

color_vimcmd_ok = 'green'
color_vimcmd_replace = 'purple'
color_vimcmd_visual = 'yellow'

[nodejs]
format = "[$symbol($version )]($style)"

[fill]
symbol = " "

[directory]
style = "blue"
read_only = " "
truncation_length = 4
truncate_to_repo = false

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vicmd_symbol = "[❮](green)"

# [git_branch]
# symbol = " "
# format = "[$symbol$branch]($style) "
# style = "bright-black"

# [git_status]
# format = '([\[$all_status$ahead_behind\]]($style) )'
# style = "cyan"

# [git_state]
# format = '\([$state( $progress_current/$progress_total)]($style)\) '
# style = "bright-black"

# [git_metrics]
# disabled = false

[git_branch]
symbol = ""
style = "fg:color_git"
format = '( [$symbol $branch]($style) )'
only_attached = true
ignore_branches = []
truncation_length = 25
truncation_symbol = "..."
always_show_remote = false
disabled = false

[git_commit]
style = "fg:color_git"
format = "( [($tag)(@$hash)]($style) )"
commit_hash_length = 7
only_detached = true
tag_symbol = "󰓼 "
tag_disabled = false
disabled = false

[git_status]
style = "fg:color_git"
format = '([$ahead_behind]($style) )([$all_status]($style) )'
stashed = "*${count}"
ahead = "⇡${count}"
behind = "⇣${count}"
up_to_date = ""
diverged = "⇡${ahead_count}⇣${behind_count}"
conflicted = "=${count}"
deleted = "×${count}"
renamed = "»${count}"
modified = "!${count}"
staged = "+${count}"
untracked = "?${count}"
ignore_submodules = false
disabled = false

[git_metrics]
format = '([([+$added]($added_style))([ -$deleted]($deleted_style))](fg:color_git) )'
added_style = "fg:color_git_added"
deleted_style = "fg:color_git_deleted"
only_nonzero_diffs = true
disabled = false

[git_state]
style = "fg:color_danger"
format = '([$state( $progress_current/$progress_total)]($style bold) )'
rebase = "REBASING"
merge = "MERGING"
revert = "REVERTING"
cherry_pick = "CHERRY-PICKING"
bisect = "BISECTING"
am = "AM"
am_or_rebase = "AM/REBASE"
disabled = false

[jobs]
  disabled = false
  symbol_threshold = 1
  number_threshold = 1
  symbol = '✦ '
  style = 'bold #a9a1e1'
  format = '[$symbol$number]($style) '

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

[memory_usage]
symbol = " "

[rust]
symbol = " "

[time]
disabled = false
style = "bold white"
format = "[$time]($style)"

[custom.stunnel]
when = "ps aux | grep stunnel | grep -v grep"
command = "ps -o etime= -p $(ps aux | grep stunnel | grep -v grep | awk '{print $2}')"
style = "red"
format = "[TUNNEL OPEN for $output]($style)"

[status]
  disabled = false
  symbol = '󰅙 '
  success_symbol = '󰗠 SUCCESS'
  not_executable_symbol = '󰀨 '
  not_found_symbol = '󰋗 '
  sigint_symbol = ' '
  signal_symbol = '󱐋 '
  success_style = 'bold fg:#66E33B'
  failure_style = 'bold fg:#fb4934'
  recognize_signal_code = true
  map_symbol = true
  pipestatus = true
  pipestatus_separator = ''
  pipestatus_format = '\[ $pipestatus\] ⇒ [$symbol$common_meaning$signal_name$maybe_int]($style)'
  format = '([$symbol($common_meaning)($signal_name)($maybe_int)]($style) )'